html {
  font-size: 11px;
}

body {
  padding: 0px;
  margin: 0;
  text-align: center;
  width: 350px;
  height: 350px;
}

table, th, td {
   border: 1px solid black;
}

img { 
   max-width: 25%; 
   height: auto; 
}

#profilePictureDiv {
   text-align: center;
}

#profileImageDiv {
   height: 10px;
   width: 10px;
}

#statusMessage {
   top: 40px;
}

.main-box {
   /* border: 1px solid;
   border-color: transparent;
   background-color: white;
   width: 100%;
   height: 100%; */
   /* box-sizing: border-box; */
   /* padding: 1px; */
   /* position: static; */
   text-align: center;
}

.menu-button {
 /* display: inline-block; */
 float: left;
 width: 50%;
 height: 50%;
}

.button-one {
 background-color:  #f9c00c;
}

.button-two {
 background-color:  #00b9f1;
}

.button-three {
  background-color:  #7200da;
}

.button-four {
  background-color:  #f9320c;
}

.circle {
 display: inline-block; 
 background-color: aliceblue;
 border-radius: 5%;
 width: 90px; 
 height: 45px;
 border: 1px solid black;
 margin: 5px 10px 2px 10px;
}
.text-box {
 margin: 0px 2px 0px 2px;
}

.text {
 font-family: "M PLUS Rounded 1c";
 text-align: center;
 font-size: small;
 /* text-shadow: 0 0 5px black; */
 text-shadow:-1px 0 black,0 1px black,1px 0 black,0 -1px black;
 color: white;
}


.hidden {
   display: none;
}